---
export async function getStaticPaths() {
  const url = "https://bhbgbtxgwftidykearaz.supabase.co/rest/v1/products?soldout=eq.false";
  const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJoYmdidHhnd2Z0aWR5a2VhcmF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODMwMTM2NjcsImV4cCI6MTk5ODU4OTY2N30.KjyWOsFYOHmmoEoBuf75grof4iS8KONyCwqlmIDcaNE";
  const options = {
    method: "GET",
    headers: {
      apikey: api,
    },
  };
  const data = await fetch(url, options).then((res) => res.json());
  console.log(data);
  return data.map((singleProduct) => {
    console.log(singleProduct.slug);
    return {
      params: { slug: singleProduct.slug },
      props: { singleProduct },
    };
  });
}
const { singleProduct } = Astro.props;
import Main from "../../layouts/Main.astro";
import "../../styles/global.css";
import Linkbutton from "../../components/Linkbutton.astro";
import Button from "../../components/Button.astro";
import Form from "../../components/Form.astro";
---

<Main>
  <Linkbutton href="/products" text="BACK TO PRODUCTS" />
  <section>
    <img src={"/database/" + singleProduct.img} alt={singleProduct.name} />
    <h4>{singleProduct.name}</h4>
    <h4>{singleProduct.price}</h4>
    <p>{singleProduct.colour}</p>
  </section>
  <Button href="/cart" text="ADD TO CART" />
  <Linkbutton href="/about" text="GO TO PRODUCT DESCRIPTION" />
  <Form />
</Main>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
<!-- <img src={"/database/" + singleProduct.img + "-front.webp"} alt="" />  -->
