---
import Footer from "../components/Footer.astro";
import Main from "../layouts/Main.astro";
---

<Main>
  <section class="grid_1-1">
    <div class="grid_picture1">
      <img src="/about1.webp" alt="linn luders" />
    </div>
    <div class="grid_text1">
      <h2 id="footerabout">ABOUT LÜ ITEMS</h2>
      <p>
        THE ITEMS ARE MADE BY LINN LÜDERS. SHE STARTED CROCHETING AS IT FELT MEDITATING IN AN OTHERWISE STRESSFUL EVERDAY LIFE. WE LIVE IN A PERFORMANCE AND QUICK FIX SOCIETY WHERE WE OFTEN FORGET OURSELVES AND EACH OTHER. CROCHETING AND DESIGN MADE
        HER PARTICULARLY AWARE OF THE IMPORTANCE OF SLOWNESS AND SUSTAINABILLTY IN ALL ASPECT OF OUR LIVES. LETS TAKE CARE OF OURSELVES, EACH OTHER AND THE PLANET.
      </p>
    </div>

    <div class="grid_text2">
      <h2>SLOWMADE AND SUSTAINABILITY</h2>
      <p>
        LÜ ITEMS IS A SLOW FASHION BRAND USING SUSTAINABLE MATERIALS. EVERY ITEMS IS UNIQUE AND MADE BY HAND. WE ARE PLACED IN THE HEART OF COPENHAGEN. THE PLANET CALLS FOR A NEW CONSIOUNESS AROUND MATERIALS - MENDING AND LONG LIFE DESIGNS. THAT'S
        THE ESSENCE OF OUR BRAND. SLOWNESS AND SUSTAINABILITY.
      </p>
    </div>
    <div class="grid_picture2">
      <img src="/about2.webp" alt="green dress" />
    </div>

    <div class="grid_picture3">
      <img src="/about3.webp" alt="coming out of the water" />
    </div>

    <div class="grid_text3">
      <div>
        <h2 id="footershipping">SHIPPING AND RETURN</h2>

        <p>SHIPPING ONLY IN EUROPE. COSTUMER PAYS THE SHIPPING PRICE - WHICH IS AUTOMATICALLY REGULATED AFTER THE EUROPEAN STANDARD PRICE. IT IS NOT POSSIBLE TO RETURN YOUR ITEMS</p>
      </div>

      <div class="grid_picture4">
        <img src="/about4.webp" alt="back with top on" />
      </div>
      <div class="grid_text4">
        <h2>PRODUCT DESCRIPTION</h2>
        <p>All of our products are made from recycled yarn. the products are designed to be durable and long-lasting, but it's important to wash them with care to extend their lifespan. The one size products fit sizes from XS to L.</p>
      </div>
    </div>
  </section>
</Main>
<style>
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid_picture1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .grid_text1 {
    grid-area: 1 / 2 / 2 / 2;
    padding-inline-start: 25px;
    width: 90%;
  }
  .grid_text2 {
    grid-area: 2 / 1 / 2 / 2;
    padding-left: 15px;
  }
  .grid_picture2 {
    grid-area: 2 / 2 / 2 /2;
    height: 300%;
    width: 300%;
  }
  .grid_picture3 {
    grid-area: 3 / 1 /3/3;
    max-width: 59%;
    max-height: 100%;
  }
  .grid_text3 {
    grid-area: 2 / 3/ 4/ 4;
  }
  .grid_picture4 {
    grid-area: 3 / 3 / 3 / 4;
  }
  .grid_text4 {
    grid-area: 1 / 2 / 3 / 2;
  }

  /* .grid_1-1-1 {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
    
        .grid_1-1-1-1 {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        .grid_1-1-1-1-1 {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        .grid_picture {
            display:grid;
            grid-template-columns: 1fr 1fr;
        } */
</style>
