---
import Main from "../layouts/Main.astro";
import Linkbutton from "../components/Linkbutton.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
export async function getStaticPaths() {
  const url = "https://bhbgbtxgwftidykearaz.supabase.co/rest/v1/products?soldout=eq.false";
  const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJoYmdidHhnd2Z0aWR5a2VhcmF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODMwMTM2NjcsImV4cCI6MTk5ODU4OTY2N30.KjyWOsFYOHmmoEoBuf75grof4iS8KONyCwqlmIDcaNE";
  const options = {
    method: "GET",
    headers: {
      apikey: api,
    },
  };
  const data = await fetch(url, options).then((res) => res.json());
  console.log(data);
  return data.map((cartProduct) => {
    console.log(cartProduct.slug);
    return {
      params: { slug: cartProduct.slug },
      props: { cartProduct },
    };
  });
}
const { cartProduct } = Astro.props;
---

<Main>
  <section>
    <Linkbutton href="/products" text="BACK TO PRODUCTS" />
    <h2>CART</h2>
    <div>
      <img class="cartImg" src={"/productlist/" + cartProduct.img + "-front.webp"} alt={cartProduct.name} />
      <h4>{cartProduct.name}</h4>
      <p>{cartProduct.price}</p>
    </div>
    <div class="grid">
      <h3>SUBTOTAL {}</h3>
      <p>TAX INCLUDED</p>
      <Button text="CHECKOUT" />
    </div>
  </section>
</Main>

<style>
  section {
    margin: 20px;
    display: grid;
  }

  .grid {
    display: grid;
    border-top: 2px solid #000000;
    justify-content: flex-end;
  }
</style>
