---
import Main from "../layouts/Main.astro";
import Linkbutton from "../components/Linkbutton.astro";
import "../styles/global.css";
---

<Main>
  <h2>CART</h2>
  <Linkbutton href="/products" text="BACK TO PRODUCTS" />
</Main>

<style></style>
