---
import Linkbutton from "../components/Linkbutton.astro";
import Main from "../layouts/Main.astro";
import "../styles/global.css";
---

<Main title="Home">
  <video id="hero_desk" width="100%" height="100%" autoplay muted loop>
    <source src="/index/herodesktop.webm" type="video/webm" />
  </video>
  <video id="hero_mobile" width="100%" height="100%" autoplay muted loop>
    <source src="/index/heromobil.webm" type="video/webm" />
  </video>
  <div class="shopcollection">
    <Linkbutton href="/products" text="SHOP SUMMER COLLECTION HERE" />
  </div>

  <div class="grid-container">
    <!-- 1 IMG + DES -->

    <div class="LU-text">
      <h1>LÜ ITEMS</h1>
      <h3>Slowmade crocheted clothes made with sustainable yarn</h3>
    </div>
    <div class="LU-img">
      <img src="/index/closeupdress.webp" alt="img of dress" width="100%" height="100%" />
    </div>

    <div class="voguedress-img">
      <img src="/index/voguedress.webp" alt="Dress from vogue" width="100%" height="100%" />
    </div>
    <div class="voguedress-text">
      <h2>MERMAID DRESS IN VOGUE</h2>
      <div class="vogue-button">
        <Linkbutton href="/products" text="SHOP THE DRESS" />
      </div>
    </div>

    <div class="iran-img">
      <img src="/index/irandress.webp" alt="Voice of iran image" width="100%" height="100%" />
    </div>
    <div class="iran-text">
      <h2 class="dual_color">VOICE OF IRAN</h2>
      <h2>X LÜ ITEMS</h2>
    </div>
    <div class="iran-button">
      <Linkbutton href="/projects" text="SEE OTHER PROJECTS" />
    </div>
  </div>
</Main>

<style>
  /* MOBILE VERSION */
  @media (max-width: 600px) {
    .shopcollection {
      display: flex;
      justify-content: center;
      padding-top: 5px;
      padding-bottom: 10px;
    }
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
    }

    h1,
    h2,
    h3,
    .vogue-button,
    .vougebutton,
    .iran-button {
      padding-inline-start: 8%;
      max-width: 90%;
    }
    .LU-text {
      order: 1;
      margin: 0;
      width: 100%;
      display: grid;
      grid-column: 1fr;
      justify-content: center;
      align-self: center;
    }
    .LU-text h1 {
      padding-top: 25px;
      margin: 0;
    }
    .LU-text h3 {
      margin: 0;
    }
    .LU-img {
      order: 2;
      padding-top: 20px;
      padding-bottom: 70px;
    }
    .voguedress-text {
      order: 3;
      width: 100%;
    }
    .voguedress-text h2 {
      margin: 0;
    }
    .vogue-button {
      order: 4;
    }
    .voguedress-img {
      order: 5;
    }
    .iran-img {
      order: 6;
      padding-top: 20px;
    }
    .iran-text {
      order: 7;
      width: 90%;
    }

    .dual_color {
      margin-bottom: 0;
      padding-top: 20px;
    }
    .iran-text h2 {
      margin: 0;
    }

    .iran-button {
      order: 8;
    }
  }

  /* COMPUTER VERSION */
  @media (min-width: 600px) {
    .shopcollection {
      display: flex;
      justify-content: center;
      padding-top: 2px;
      padding-bottom: 15px;
    }
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .LU-text {
      grid-area: 1 / 1 / 2 / 2;
      position: relative;
      padding-inline-start: 25px;
      width: 100%;
    }
    .LU-text h3 {
      position: absolute;
      width: 100%;
      top: 210px;
    }
    .LU-img {
      grid-area: 1 / 2 / 2 /2;
    }
    .voguedress-img {
      grid-area: 2 / 1 / 2 / 2;
    }
    .voguedress-text {
      position: relative;
      grid-area: 2 / 2 / 2 / 2;
    }
    .voguedress-text h2 {
      position: absolute;
      width: 100%;
      right: 100px;
    }
    .voguedress-text .vogue-button {
      grid-area: 2 / 2 / 2 / 2;
      justify-self: end;
      margin-inline-end: 25px;
    }
    .vogue-button {
      position: absolute;
      top: 250px;
      right: 540px;
    }
    .iran-img {
      margin-top: 3%;
      grid-area: 3 / 1 /3/3;
      position: relative;
    }
    .iran-text {
      position: relative;
      grid-area: 4 / 2 / 4 / 2;
      width: 100%;
      padding-inline-end: 25px;
      top: -50px;
    }
    .irantext h2 {
      margin: 0;
      position: absolute;
    }
    .dual_color::first-line {
      color: #fcf6ac;
    }
    .dual_color {
      position: absolute;
      bottom: 100px;
    }
    .iran-button {
      padding-inline-start: 25px;
      grid-area: 4 / 1 / 4 / 1;
    }
    video {
      width: 100%;
    }
  }
</style>
