---
import Form from "../components/Form.astro";
import Main from "../layouts/Main.astro";
const data = await fetch("https://bhbgbtxgwftidykearaz.supabase.co/rest/v1/products", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJoYmdidHhnd2Z0aWR5a2VhcmF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODMwMTM2NjcsImV4cCI6MTk5ODU4OTY2N30.KjyWOsFYOHmmoEoBuf75grof4iS8KONyCwqlmIDcaNE",
  },
}).then((res) => res.json());
console.log(data);
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/faviconlogo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <title>LÜ ITEMS</title>
  </head>
  <body>
    <Main>
      <section>
        <h2>PRODUCTS</h2>
        <div class="grid_1"></div>
        <Form />
      </section>
    </Main>
  </body>
</html>
<style>
  section {
    display: grid;
  }
  h2 {
    justify-self: center;
    align-self: center;
  }
</style>
