---
const { text, href = "/", id = "" } = Astro.props;
---

<button id={id}>
  <a href={href}>
    <p>{text}</p>
  </a>
</button>

<style>
  button {
    background-color: #fcf6ac;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 550px;
    border: solid 4px #fcf6ac;
    color: #000000;
    text-decoration: none;
  }
  button:hover {
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 550px;
    border: solid 4px #000000;
    color: #fcf6ac;
    text-decoration: none;
  }
  @media (max-width: 700px) {
    button {
      background-color: #fcf6ac;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      width: 350px;
      border: solid 4px #fcf6ac;
      color: #000000;
      padding: 20px;
      text-decoration: none;
    }
    button:hover {
      background-color: #000000;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      width: 350px;
      border: solid 4px #000000;
      color: #fcf6ac;
      padding: 20px;
      text-decoration: none;
    }
  }
</style>
