---
import "../styles/global.css";
---

<footer>
  <div class="insta_grid">
    <h4>AS SEEN ON INSTAGRAM</h4>
    <div class="img_grid">
      <div class="container">
        <a href="https://www.instagram.com/p/CrsH92INO7_/" target="_blank"><img src="/footer/footer3.webp" alt="instagram post 1" width="100%" height="100%" /></a>
      </div>
      <div class="container"><a href="https://www.instagram.com/p/CmBlDv-tI5-/" target="_blank"><img src="/footer/footer2.webp" alt="instagram post 2" width="100%" height="100%" /></a></div>
      <div class="container">
        <a href="https://www.instagram.com/p/CrjHDIYtics/" target="_blank"><img src="/footer/footer4.webp" alt="instagram post 3" width="100%" height="100%" /></a>
      </div>
      <div class="container"><a href="https://www.instagram.com/p/Cih_3FZtHBI/" target="_blank"><img src="/footer/footer1.webp" alt="instagram post 4" width="100%" height="100%" /></a></div>
    </div>
  </div>
  <div class="logo_grid">
    <img src="/footer/Logo.svg" alt="logo" width="100%" height="100%" />
    <h4>GET THE LATEST UPDATES FROM LÜ ITEMS</h4>
  </div>
  <div class="grid_1-1">
    <div>
      <form name="footer_sign">
        <div class="label">
          <label for="email"></label>
          <input id="email" type="text" name="email" placeholder="YOUR E-MAIL ADRESS" />
          <button>SUBSCRIBE</button>
        </div>
      </form>
      <div class="logo_boks">
        <a href="https://www.tiktok.com/@lu.items?_t=8cLM3XdvOMV&_r=1" target="_blank"><img src="/footer/tiktok.svg" alt="tiktok" width="100%" height="100%" /></a>
        <a href="https://www.instagram.com/lu.items/" target="_blank"><img src="/footer/instagram.svg" alt="instagram" width="100%" height="100%" /></a>
        <a href="https://www.instagram.com/lu.items/" target="_blank"><img src="/footer/mail.svg" alt="mail" width="100%" height="100%" /></a>
      </div>
    </div>
    <div class="grid_1-1-1">
      <div>
        <h5>MENU</h5>
        <a href="/"> <p>HOME</p></a>
        <a href="/products"> <p>PRODUCTS</p></a>
        <a href="/about"> <p>ABOUT LÜ</p></a>
        <a href="/projects"> <p>PROJECTS</p></a>
      </div>
      <div>
        <h5>PROJECTS</h5>
        <a href="/projects#footervogue"><p>VOGUE SCANDINAVIA</p></a>
        <a href="/projects#footeriran"><p>VOICE OF IRAN</p></a>
        <a href="/projects#footerpolhem"><p>POLHEM SHOWROOM</p></a>
        <a href="/projects#footerpapaya"><p>PAPAYA SUMMER</p></a>
      </div>
      <div>
        <h5>COMPANY</h5>
        <a href="/about/#footerabout"><p>ABOUT LÜ</p></a>
        <a href="/about/#footershipping"><p>SHIPPING</p></a>
        <a href="https://www.instagram.com/lu.items/"><p>CONTACT US</p></a>
        <a href="/about/#footershipping"><p>RETURN POLICY</p></a>
      </div>
    </div>
  </div>
  <p class="copy">Copyright 2023© All Rights Reserved</p>
</footer>

<style>
  footer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    padding-top: 100px;
  }
  .insta_grid {
    display: grid;
  }
  .insta_grid h4 {
    justify-self: center;
    align-self: center;
  }
  .img_grid {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .img_grid img {
    width: 800px;
    height: 100%;
  }
  .img_grid a:hover {
    opacity: 60%;
  }
  .logo_grid {
    display: flex;
    margin-top: 20px;
    max-width: 400px;
    gap: 10px;
  }
  .logo_grid img {
    max-width: 60px;
  }
  a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer_sign {
    outline: none;
    line-height: 32px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    border: none;
  }
  button {
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: fit-content;
    border: solid 4px #000000;
    color: #fcf6ac;
    padding: 20px;
    padding-bottom: 22px;
  }
  button:hover {
    background-color: #fcf6ac;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: fit-content;
    border: solid 4px #fcf6ac;
    color: #000000;
    padding: 20px;
    padding-bottom: 22px;
  }
  input {
    border: none;
    text-decoration: none;
  }
  input[type="text"] {
    border: none;
    background-color: #fcf6ac;
    border: 4px solid #fcf6ac;
    line-height: 32px;
    width: 350px;
    padding: 20px;
    padding-top: 22px;
  }
  .logo_boks {
    display: flex;
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .grid_1-1-1 p {
    margin-top: 5px;
  }
  footer p {
    justify-self: center;
    align-self: center;
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    text-decoration: none;
    color: #000000;
  }
  .label {
    margin: 0;
    padding: 0;
  }
  @media (max-width: 700px) {
    footer {
      display: grid;
      margin: 10px;
      padding-top: 50px;
    }
    .img_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .img_grid img {
      width: fit-content;
    }
    .img_grid a:hover {
      opacity: 60%;
    }
    .logo_grid {
      display: flex;
      margin-top: 20px;
      max-width: 400px;
      gap: 10px;
    }
    .logo_grid img {
      max-width: 60px;
    }
    .footer_sign {
      outline: none;
      line-height: 32px;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      border: none;
      padding-top: 22px;
    }
    h4 {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
    }
    button {
      background-color: #000000;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      width: fit-content;
      border: solid 4px #000000;
      color: #fcf6ac;
      padding: 20px;
      padding-bottom: 22px;
    }
    button:hover {
      background-color: #fcf6ac;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      width: fit-content;
      border: solid 4px #fcf6ac;
      color: #000000;
      padding: 20px;
      padding-bottom: 22px;
    }
    input {
      border: none;
      text-decoration: none;
      padding-top: 22px;
    }
    input[type="text"] {
      border: none;
      background-color: #fcf6ac;
      border: 4px solid #fcf6ac;
      line-height: 32px;
      width: 200px;
      padding: 20px;
      padding-top: 22px;
    }
    input:focus {
      width: 200px;
      padding: 20px;
      background-color: #fcf6ac;
      text-decoration: none;
      color: #000000;
      border: #fcf6ac;
      outline: 4px solid #fcf6ac;
      padding-top: 22px;
    }
    footer p {
      justify-self: center;
      align-self: center;
      margin-top: 100px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      color: #000000;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr;
    }
    .logo_boks {
      display: flex;
      gap: 10px;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    .logo_boks img {
      width: 80%;
    }
  }
</style>
