<section>
  <h3>CUSTOMIZE YOUR OWN LÜ ITEM HERE</h3>
  <form>
    <label for="title">ITEM</label>
    <input id="title" name="title" type="text" required />

    <label for="title">COLOR</label>
    <input id="title" name="title" type="text" required />

    <label for="email"><br />MAIL<br /></label>
    <input id="email" type="text" name="email" />

    <label for="long">SIZE, LENGTH, OTHER PREFERENCES</label>
    <textarea id="long" name="long" rows="6" required></textarea>

    <button type="submit">SEND REQUEST</button>
  </form>
</section>

<style>
  section {
    display: grid;
  }
  section h3 {
    justify-self: center;
    align-self: center;
  }
  section form {
    justify-self: center;
    align-self: center;
  }
  input {
    width: 550px;
    padding: 20px;
    background-color: #ffffff;
    text-decoration: none;
    color: #000000;
    border: #000000;
  }
  input:focus {
    width: 550px;
    padding: 20px;
    background-color: #ffffff;
    text-decoration: none;
    color: #000000;
    border: #000000;
    outline: 2px solid #000000;
  }
  label {
    line-height: 45px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16pt;
    line-height: 25pt;
  }
</style>
