---
const { text, href = "/" } = Astro.props;
---

<a href={href}>
  <p>{text}</p>
</a>

<style>
  a {
    text-decoration: underline 2px #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16pt;
    line-height: 25pt;
    text-transform: uppercase;
    color: #000000;
  }
</style>
