---
const { data } = Astro.props;
// function getFirstNChars(name, price, color) {
//     return name.
// }
---

<article>
  <a href={"/product/" + data.slug}><img src={"/database/" + data.img} ' alt={data.name} /></a>
  <div>
    <h4>{data.name}</h4>
    <h4>{data.price}</h4>
  </div>
  <p>{data.colour}</p>
</article>

<style></style>
